
.icon-analysis-7:before { content: '\e800'; } /* '' */
.icon-analysis-8:before { content: '\e801'; } /* '' */
.icon-analytics:before { content: '\e802'; } /* '' */
.icon-analytics-1:before { content: '\e803'; } /* '' */
.icon-analytics-2:before { content: '\e804'; } /* '' */
.icon-analytics-3:before { content: '\e805'; } /* '' */
.icon-analytics-4:before { content: '\e806'; } /* '' */
.icon-calculation:before { content: '\e807'; } /* '' */
.icon-goal:before { content: '\e808'; } /* '' */
.icon-goal-1:before { content: '\e809'; } /* '' */
.icon-growth:before { content: '\e80a'; } /* '' */
.icon-investment:before { content: '\e80b'; } /* '' */
.icon-real-estate:before { content: '\e80c'; } /* '' */
.icon-marketing:before { content: '\e80d'; } /* '' */
.icon-report:before { content: '\e80e'; } /* '' */
.icon-research-1:before { content: '\e80f'; } /* '' */
.icon-research:before { content: '\e810'; } /* '' */
.icon-research-3:before { content: '\e811'; } /* '' */
.icon-research-2:before { content: '\e812'; } /* '' */
.icon-statistics:before { content: '\e813'; } /* '' */
.icon-smartphone-1:before { content: '\e814'; } /* '' */
.icon-smartphone:before { content: '\e815'; } /* '' */
.icon-statistics-1:before { content: '\e816'; } /* '' */
.icon-analysis:before { content: '\e817'; } /* '' */
.icon-analysis-2:before { content: '\e818'; } /* '' */
.icon-analysis-1:before { content: '\e819'; } /* '' */
.icon-analysis-4:before { content: '\e81a'; } /* '' */
.icon-analysis-3:before { content: '\e81b'; } /* '' */
.icon-analysis-5:before { content: '\e81c'; } /* '' */
.icon-analysis-6:before { content: '\e81d'; } /* '' */
.icon-investment-1:before { content: '\e81e'; } /* '' */
.icon-management:before { content: '\e81f'; } /* '' */
.icon-marketing-1:before { content: '\e820'; } /* '' */
.icon-pay-per-click:before { content: '\e821'; } /* '' */
.icon-profits:before { content: '\e822'; } /* '' */
.icon-profits-1:before { content: '\e823'; } /* '' */
.icon-rate:before { content: '\e824'; } /* '' */
.icon-shop:before { content: '\e825'; } /* '' */
.icon-shopping-bag:before { content: '\e826'; } /* '' */
.icon-smartphone-2:before { content: '\e827'; } /* '' */
.icon-smartphone-3:before { content: '\e828'; } /* '' */
.icon-smartphone-4:before { content: '\e829'; } /* '' */
.icon-smartphone-5:before { content: '\e82a'; } /* '' */
.icon-social-network:before { content: '\e82b'; } /* '' */
.icon-social-network-1:before { content: '\e82c'; } /* '' */
.icon-strategy:before { content: '\e82d'; } /* '' */
.icon-streaming:before { content: '\e82e'; } /* '' */
.icon-switches:before { content: '\e82f'; } /* '' */
.icon-tablet:before { content: '\e830'; } /* '' */
.icon-typewriter:before { content: '\e831'; } /* '' */
.icon-advertising:before { content: '\e832'; } /* '' */
.icon-affiliate:before { content: '\e833'; } /* '' */
.icon-announcer:before { content: '\e834'; } /* '' */
.icon-broadcast:before { content: '\e835'; } /* '' */
.icon-browser:before { content: '\e836'; } /* '' */
.icon-customer:before { content: '\e837'; } /* '' */
.icon-devices:before { content: '\e838'; } /* '' */
.icon-ecommerce:before { content: '\e839'; } /* '' */
.icon-email:before { content: '\e83a'; } /* '' */
.icon-insight:before { content: '\e83b'; } /* '' */
.icon-right-arrow:before { content: '\e83f'; } /* '' */
.icon-left-arrow:before { content: '\e840'; } /* '' */
.icon-left-quotes:before { content: '\e841'; } /* '' */
.icon-right-quotes:before { content: '\e842'; } /* '' */
.icon-map-marker-placeholder:before { content: '\e843'; } /* '' */